<mat-card class="about mat-elevation-z2">
  <mat-card-header>
    <div mat-card-avatar class="card-header-image"></div>
    <mat-card-title
      ><a href="https://github.com/Vagnermrocha" class="link"
        >Vagnermrocha</a
      ></mat-card-title
    >
    <mat-card-subtitle>Frontend developer</mat-card-subtitle>
  </mat-card-header>
  <mat-card-title class="title">Bem vindo ao angular!</mat-card-title>
  <mat-card-subtitle class="subtitle">Sobre Mim</mat-card-subtitle>
  <mat-card-content class="mat-card-content">
    <p>
      Programador e desenvolvedor Front-end certificado pelo programa de
      capacitação de pcd da F1rst Inovação e tecnologia, programa new teck.
    </p>
    <a href="https://www.github.com/Vagnermrocha" target="_blank">
      <img
        src="https://img.shields.io/badge/GitHub-100000?style=for-the-badge&logo=github&logoColor=white"
        alt="github-logo"
      />
    </a>
  </mat-card-content>
</mat-card>

